<section class="search">

  <form action="/q" method="GET" id="searchForm">
    <input name="search" type="text" autocomplete="off" placeholder="search books…"/>
    <button type="submit" class="button">search</button>
  </form>

</section>
