<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>

    <nav>
      <div class="login">

        <a href="/"><img src="/images/logo.svg" alt=""></a>
          <div class="authToggle">
            {{#if login}}
              <a href="/log-out" class="button active">log out</a>
            {{else}}
              
              <a href="/sign-up" class="button {{#if signupActive}}active{{/if}}">sign up</a>
              <a href="/log-in" class="button {{#if loginActive}}active{{/if}}">log in</a>
            {{/if}}
          </div>
      </div>
    </nav>

    {{{body}}}

    <script src="/javascripts/script.js"></script>
  </body>
</html>
