<section class="auth">

  {{!-- <div class="toggle">

    <a href="/sign-up" class="button">sign up</a>
    <a href="/log-in" class="button active">login</a>

  </div> --}}

  <form action="/log-in" method="POST">

    <div class="authInput">
      <div class="user">
        <label for="username">Username</label>
        <input type="text" name="username" autocomplete="off">
      </div>

      <div class="pass">
        <label for="password">Password</label>
        <input type="password" name="password" autocomplete="off">
      </div>

      {{#if errorMessage}}
        <div class="error-message">{{errorMessage}}</div>
      {{/if}}
  
      <button class="button">Log in</button>
    </div>

  </form>

</section>

