<section class="auth">

  <div class="toggle">

    <a href="/sign-up" class="button active">sign up</a>
    <a href="/log-in" class="button">login</a>

  </div>

  <form action="/sign-up" method="POST" id="form-container">

    <div class="authInput">
      <div class="user">
        <label for="username">Username</label>
        <input id="username" type="text" name="username" autocomplete="off">
      </div>

      <div class="pass">
        <label for="password">Password</label>
        <input id="password" type="password" name="password" autocomplete="off">
      </div>

      {{#if errorMessage}}
        <div class="error-message">{{errorMessage}}</div>
      {{/if}}
  
      <button class="button">Create account</button>
    </div>

  </form>

</section>


